

header {

	.navbar-dark .navbar-toggler {
		color: rgba(255, 255, 255,1);
		border-color: rgba(0, 0, 0,1);
	}
	
	.navbar-dark {

		.navbar-toggler-icon {
			background-image: url(../icons/navicon.svg);
		}
	}

	.nav__logo {
	background: url(../icons/logo.svg) center no-repeat / auto 100% transparent;
	text-indent: -10000px;
	display: block;
	min-width: 100px;
    max-width: 100%;
	}
}



.cabecera {
		background: url(../img/post-image.jpg);
		background-size:cover;
		background-position:center;
		height: 700px;
		margin-top: 55px;
    	padding-top: 20px;
    	padding-left:0;
    	padding-right:0;
    	padding-bottom:0;

}

.cabecera__titular {


	color: #FFF;
	font-family: 'PlayfairDisplay';
	text-transform: lowercase;
	text-align: center;
	margin-top: 250px;

	h1 {
	font-family:"Roboto";
	font-style: normal;
    font-weight: 400;
	}
	
}

.barra-nav {

	background-color: black;
}